/*** Scrollfix ***/
#pageAside.ui-scrollfix .ui-scrollfix {
	top: -50px;
}
#pageAside .ui-scrollfix {
	position: fixed;
}

/**** new ****/

div[select-many-from-few] label { margin: 5px; }

form div.isSufficient {
  padding-right: 25px;
	background-image: url(../img/green_tick_39x39.gif);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
}

form label.isSufficient:after {
  content: ""; display: inline-block; height: 15px;
  padding-right: 25px;
	background-image: url(../img/green_tick_39x39.gif);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
}

.hidden {
  display: none;
}

input[type=checkbox].isSufficient:before {
  content: ""; display: inline-block; width: 12px; height: 15px;
  padding-right: 25px;
	background-image: url(../img/green_tick_39x39.gif);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
}

.select2-container {
  min-width: 200px;
}

.next {
  margin: 20px 0 0 0;
}

form>div {
  padding: 10px 0 0 0;
}

/**** /new ****/


/**** dev (comment/uncomment display to toggle) ****/
.dev {
  display: none; /**/
  color: red; margin: 10px;
}
/**** /dev ****/


/**** structure ****/
#contentContainer {
	background-size: 100px;
}
#mainSection {
	display: inline-block;
	width: 65%;
	height: 600px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
#pageAside {
	display: inline-block;
	width: 30%;
	float: right;
}
#tipsSection {
	border: 1px solid grey;
  height: 100px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
#summarySection {
	border: 1px solid grey;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
/**** /structure ****/


/**** tipsSection ****/
#tipsSection {
  min-height: 50px;
}
#tipsSection .emphasise {
  font-weight: bold;
}
/**** /tipsSection ****/


/**** summarySection ****/
#summarySection #summary {
  margin: 0 0 5px 0;
  clear: both;
}
#summarySection .btn {
  margin: 0 5px 5px 0;
}
  /* section */
#summarySection .section {
  clear: both;
}
#summarySection .section-isSufficient {
}
#summarySection .section-isVisited {
  cursor: pointer;
}
#summarySection .section-isVisited .sectionTitle:hover {
  color: blue;
}
#summarySection .sectionTitle {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px 0 0 0;
}
#summarySection .sectionInner {
  display: none;
}
#summarySection .sectionInner-isCurrent {
  display: block;
}
  /* /section */
  /* page */
#summarySection .page-isCurrent {
  color: orange;
}
#summarySection .page-completionLevel2 {
	padding: 0 22px 0 0;
	background-image: url(../img/green_tick_39x39.gif);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
}
#summarySection .pageTitlePrefix {
	margin: 0 5px; 0 5px;
  float: left;
}
#summarySection .pageTitle {
	margin: 0 0 0 5px;
	cursor: pointer;
  display: none;
}
#summarySection .pageTitle:hover {
	color: red;
}
#summarySection .page-isVisited .pageTitle {
  display: block;
}
  /* /page */

/**** /mainSection ****/
