div, section, aside { border: 0px solid red; }
header, footer { border: 0px solid green; }

/**** dev (comment/uncomment display to toggle) ****/
.dev {
    display: none; /**/
    color: red; margin: 10px;
}
/**** /dev ****/


/**** structure ****/
#contentContainer {
    border-top: 10px dashed red;
    border-left: 10px dashed red;
    border-right: 10px dashed red;
	background-image: url(http://images.colourbox.com/thumb_COLOURBOX4280667.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100px;
}
#mainSection {
	display: inline-block;
	width: 65%;
	height: 600px;
}
#mainSection article {
	border: 1px solid grey;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
#pageAside {
	display: inline-block;
	width: 30%;
	float: right;
}
#tipsSection {
	border: 1px solid grey;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
#summarySection {
	border: 1px solid grey;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
#parAvion {
	position: float;
	width: 100px;
}
/**** /structure ****/


/**** tipsSection ****/
#tipsSection {
    min-height: 50px;
}
#tipsSection .emphasise {
    font-weight: bold;
}
/**** /tipsSection ****/


/**** summarySection ****/
#summarySection #summary {
    margin: 0 0 5px 0;
    clear: both;
}
#summarySection .btn {
    margin: 0 5px 5px 0;
}
    /* section */
#summarySection .section {
    clear: both;
}
#summarySection .section-isSufficient {
}
#summarySection .section-isVisited {
    cursor: pointer;
}
#summarySection .section-isVisited .sectionTitle:hover {
    color: blue;
}
#summarySection .sectionTitle {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px 0 0 0;
}
#summarySection .sectionInner {
    display: none;
}
#summarySection .sectionInner-isCurrent {
    display: block;
}
    /* /section */
    /* page */
#summarySection .page-isCurrent {
    color: orange;
}
#summarySection .page-isSufficient {
	padding: 0 22px 0 0;
	background-image: url(http://www.rbwm.gov.uk/graphics/icon_wm_green_tick_39x39.gif);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
}
#summarySection .pageTitlePrefix {
	margin: 0 5px; 0 5px;
    float: left;
}
#summarySection .pageTitle {
	margin: 0 0 0 5px;
	cursor: pointer;
    display: none;
}
#summarySection .pageTitle:hover {
	color: red;
}
#summarySection .page-isVisited .pageTitle {
    display: block;
}
    /* /page */
    /* special case - referees */
#summarySection #s2-p1 .pageTitlePrefix:hover {
    color: green;
}
#summarySection #s2-p1 .pageTitle {
    margin: 0 5px 0 0;
    float: left;
}
#summarySection #s2-p2 .pageTitle {
    margin: 0 5px 0 0;
    float: left;
}
    /* /special case - referees */
/**** /summarySection ****/


/**** mainSection ****/
#mainSection .field {
    /* border: solid 1px yellow; */
}
#mainSection .title {
    font-weight: bold;
}
#mainSection .textInputText, .multiSelectText, .phoneText, .countryCodeText, .skypeText {
    margin-right: 10px;
}
#mainSection .icon-pencil {
    margin-left: 10px;
}
#mainSection .isRequired {
    color: red;
}
#s1-p1-teamPhoto {
    height: 60px;
}
#s1-p1-teamPhoto img {
    height: 60px;
}
#s1-p1-lookingFor {
    font-weight: bold;
}
/**** /mainSection ****/
