/* css which is not specific to this project */

section, header, footer, article {
  display: block;
}
.clr {
  clear: both;
}
.alignCenter {
  text-align: center;
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.zeroBottomSpace {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.zeroTopSpace {
	margin-top: 0 !important;
	padding-top: 0 !important;
}
.blue {
	color: #1aa1e0;
}
.button {
  width: auto;
  background-color: #1e2766;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	height: 25px;
	-moz-box-shadow: 1px 1px 1px #f1f1f1;
	-webkit-box-shadow: 1px 1px 1px #f1f1f1;
	box-shadow: 1px 1px 1px #f1f1f1;
	color: #fff;
	border: none;
	font-weight: normal;
	line-height: 25px;
	vertical-align: middle;
	margin-right: 10px;
	padding: 0 15px 3px 15px;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

/* border-style */
.border-style-solid { border-style: solid; }

/* border-color */
.border-color-black-0 { border-color: rgba(0, 0, 0, 0); }
.border-color-black-10 { border-color: rgba(0, 0, 0, 0.1); }
.border-color-black-20 { border-color: rgba(0, 0, 0, 0.2); }

/* transitions */
.ease-in-out-200 {
  -webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
     -moz-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
      -ms-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -o-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
          transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.ease-in-out-500 {
  -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
     -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
      -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
          transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.ease-in-out-1000 {
  -webkit-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
     -moz-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
      -ms-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -o-transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
          transition: all 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

