/* css which creates the basic structure of all pages */

/*
pageContainer
  pageHeader
  contentContainer
    mainSection
    pageAside
      tipsSection
      summarySection
  pageFooter
*/

body {
  overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

/* pageContainer */
.pageContainer {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

/* children of pageContainer */
.pageHeader {}
.contentContainer {
  overflow: hidden;
  padding: 10px;
  padding-bottom: 32px; /* Height of the footer element */
  width: 920px;
}
.pageFooter {
  font-size: 0.8em;
  padding: 0 0 7px 0;
  width: 100%;
  clear: both;
  height: 25px;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: white;
}

/* children of contentContainer */
.mainSection {
  width: 570px;
  margin: 0 0 40px 0;
  float: left;
}
.pageAside {
  float: right;
}

/* children of contentContainer with ui-scrollfix (i.e. when screen is below header) */
.ui-scrollfix .mainSection {
  float: none;
}
.ui-scrollfix .pageAside {
  top: 10px;
  position: fixed;
}
