/* css which creates the basic structure of all pages */

/* page structure */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.pageContainer {
	/*min-height: 100%;*/
	min-height: 870px;
	position: relative;
	width: 960px;
  margin: 0 auto;
}
.contentContainer {
	padding: 10px;
	padding-bottom: 30px; /* Height of the footer element */
	width: 940px;
}
.pageFooter {
	font-size: 0.8em;
  padding: 0 0 7px 0;
	width: 100%;
  clear: both;
	height: 25px;
	position: absolute;
	bottom: 0;
  text-align: center;
}

/* content structure */
.mainSection {
  width: 570px;
  margin: 0 0 40px 0;
  float: left;
}
.ui-scrollfix .mainSection {
  float: none;
}

.pageAside {
  opacity: 1; /*IE<=8:*/ filter: alpha(opacity=0);
  float: right;
	/* margin: 10px; */
}
.ui-scrollfix .pageAside {
  top: 10px;
  right: 100px;
  position: fixed;
  opacity: 1;
  /*
  -webkit-transition: all 1000ms ease;
     -moz-transition: all 1000ms ease;
      -ms-transition: all 1000ms ease;
       -o-transition: all 1000ms ease;
          transition: all 1000ms ease;
  */
}
