<form novalidate ng-controller="mainController">
  <div class="devHelper2"></div>
  
  <div>
    <label>Country code
      <select ui-select2="{allowClear: true }" placeholder="Select a country code..." ng-model="user.countryCode.val" on-focus="focus(user.countryCode)" on-blur="blur(user.countryCode)">
        <option value=""></option>
        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
      </select>
    </label>
  </div>
  <div>
    <label ng-class="user.phoneNumber.getClass()">Phone number
      <input type="text" class="phone" ng-model="user.phoneNumber.val" on-focus="focus(user.phoneNumber)" on-blur="blur(user.phoneNumber)">
    </label>
  </div>
  <div>
    <label>Skype
      <input type="text" class="skype" ng-model="user.skype.val" on-focus="focus(user.skype)" on-blur="blur(user.skype)">
    </label>
  </div>
  <div>
    <button class="btn btn-primary" ng-click="setLocation(1, 3)" ng-disabled="!user.getPage(1, 2).getIsSufficient()">Continue</button>
    <button class="btn" ng-click="doLater()">Do Later</button>
  </div>
</form>

