#content.school_profile h1.profile, h1.profile, h1 {
	font-size: 28px; 
	line-height: 32px;
	color: #2f3490;
}
.profileBoxText {
	width: 430px;
	position: relative; 
	float:left;
}
.profileBoxPhoto {
	width: 150px;
	float: left;
	margin-left: 20px;
}
.profileBoxPhoto img {
	border-radius: 10px;
	width: 150px;
	overflow: hidden;
}
.profileBoxVideo {
	float: left;
	width: 317px;
	margin-left: 20px;
}
.linkChecked {
	background: url(../images/green_check.gif) no-repeat top left;
	display: block;
	padding-left: 25px;
	height: 21px;
	line-height: 21px;
	color: #53add8;
	margin-top: 5px;
}
.shortInfo div {
	font-weight: bold;
}
.shortInfo div span {
	font-weight: normal;
}

.managePanel {
	position: absolute;
	right: 0;
	top: 83px;
}
.managePanel span {
	display: block;
	color: #fff;
	height: 20px;
	width: 120px;
	background-color: #1f2964;
	border-top: solid 1px #575f8b;
	border-bottom: #c7c9d8;
	border-radius: 3px;
	line-height: 20px;
	padding-left: 7px;
	margin-bottom: 4px;
}

/*tabs*/
.tabDataHeader { 
	padding-left: 10px;
}
.blueTabLine {
	border-bottom: solid 8px #b5c2f7; 
}
.redTabLine {
	border-bottom: solid 8px #c11451; 
}
.tab {
	height: 44px; 
	padding: 0 15px; 
	display: inline-block;
	border-radius: 5px 5px 0 0;
}
.blueTab {
	background-color: #b5c2f7; 
}
.redTab {
	background-color: #c11451;
}
.yellowTab {
	background-color: #fcc115;
}
.tab a {
	font-family: Georgia, 'Times New Roman', serif; 
	font-size: 15px; 
	color: #fff; 
	text-decoration: none; 
	display: inline-block; 
	padding-top: 5px;
}

.tabDataContent  {
	min-height: 400px;
	border-top: solid 1px #fff;
}
.blueBg {
	 background-color: #e5eafc; 
}
.redBg 
{
	background-color: #f5dce5;
}
.innerDataBox  {
	float: left;
	margin: 10px; 
	margin-right: 0;
	background-color: #fff; 
	border-radius: 5px; 
	padding: 15px;
}
.bigBox {
	width: 585px; 
}
.smallBox {
	width: 285px;
}
.innerDataBox h2 {
	font-size: 17px; 
	margin: 0; 
	padding: 0; 
	margin-bottom: 10px;
}
.blueBg h2 {
	color: #939ec8; 
}
.redBg h2 {
	color: #c11451; 
}






