#content.school_profile div.school_info {
	width: 230px;
}

#content.school_profile ul.school_photos li {
  height: 165px;
  width: auto;
}
#content.school_profile ul.aveditor li {
	height: auto !important;
}

.school_profile {
	font-size: 12px;
	margin-top: 10px !important;
	padding-top: 5px !important;
}
.teacher-progress {
    border: 2px solid #C0CEFB;
    float: right;
    padding: 8px;
	margin-left: 10px;
}
.teacher-progress p {
	padding: 0;
}

#tabs {
	left: -10px;
	position: relative;
}
#tab_content {
    background: none repeat scroll 0 0 #CCCCCC;
    left: -10px;
    padding: 20px;
    position: relative;
    width: 960px;
}
/*tab and main content - summary section*/
.summary #tabs {
    border-bottom: 8px solid #C0CEFB;
}
.summary #tab_content{
    background: none repeat scroll 0 0 #E6EBFD;
}
/*tab and main content - professional section*/
.professional #tabs {
    border-bottom: 8px solid #F19000;
}
.professional #tab_content {
    background: none repeat scroll 0 0 #F9D299;
}
/*tab and main content - extra curricular*/
.extra_curricular #tabs {
    border-bottom: 8px solid #AAC600;
}
.extra_curricular #tab_content {
    background: none repeat scroll 0 0 #DDE899;
}

/*tab and main content - extra curricular*/
.ideal_school #tabs {
    border-bottom: 8px solid #AD79A5;
}
.ideal_school #tab_content {
    background: none repeat scroll 0 0 #DECADB;
}

.supporting_materials #tab_content {
    background: none repeat scroll 0 0 #E6A1B9;
}

.supporting_materials  #tabs {
    border-bottom: 8px solid #C11350;
}

.references #tab_content {
    background: none repeat scroll 0 0 #FEE6A1;
}
.references #tabs{
    border-bottom: 8px solid #FBC014;
}

.my_details #tab_content {
    background: none repeat scroll 0 0 #99E3EB;
}
.my_details #tabs{
    border-bottom: 8px solid #00B9CD;
}


#tab_content .left-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: 660px;
	min-height: 120px;
}
#tab_content .right-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 10px;
    width: 220px;
	min-height: 120px;
}

i {
 font-size: 90%;
}

div.cell {
	float: left;
	padding: 5px;
	padding-top: 10px;
}
div.cell label {
	font-weight: bold;
	font-size: 11px;
}
.cell input, .cell select{
	width: 135px;
	padding: 3px;
}
.cell select.large{
	width: 240px;
	padding: 3px;
}

.cell select.xl{
	width: 320px;
	padding: 3px;
}
.cell input.xl{
	width: 310px;
	padding: 3px;
}
.cell p {
  padding: 0;
  line-height: 1.5em;	
}

.youtube-embed{
	width: 200px;
	padding: 3px;
}

input.dte-field{
	width: 65px;
}

h2 {
  margin-bottom: 2px !important;
  margin-top: 5px;
  font-weight: bold;
}

#tab_content .fullwidth {
	width: 900px;
} 
#tab_content .fullwidth .column350 {
	width: 350px;
	float: left;
	padding: 5px;
} 
#tab_content .fullwidth .column510 {
	width: 510px;
	float: left;
	padding: 5px;
} 
#tab_content .fullwidth .column530 {
	width: 530px;
	float: left;
	padding: 5px;
} 
#tab_content .fullwidth .column {
	width: auto;
	float: left;
	padding: 5px;
} 

p{
 padding: 5px;
}
.checkbox-columns div.cell{
	width: 250px;
	font-size: 12px;
}
.checkbox-columns div.cell input{
	margin: 5px;
	width: auto;
}
.checkbox-columns div.cell label{
	margin: 5px;
	width: auto;
}
#student-status,#class-size-status ,#minTemperatureWinter-status,#maxTemperatureSummer-status, #minimumTermContract-status{
	color: #000 !important;
	width: 250px !important;
}
.error{
	font-size: 12px !important;
}

.generic_btn {
	width: auto !important;
}

#edit-box {
	margin-top: 20px;
}

.ec-list{
	font-size: 11px;
	font-weight: bold;
}

strong {
	font-size: 12px;
}
#tabs {
	margin-top: 10px;
}

.row {
	background: white !important;
}

h3.ui-accordion-header{
padding-left: 30px;
}


div.uploader {
	padding-top: 20px;
}

ul.doc-list {
	margin: 0 auto;
    padding: 0;
}

ul.doc-list li{
	text-align: left;
    float: left;
    list-style: none;
    padding: 0px;
	padding-top: 10px;
	padding-bottom: 15px;
    margin-top: 0px;
	width: 250px;
}
a.dld-doc {
	background: url('/static/css/images/doc.png') no-repeat;
	padding-left: 35px;
	padding-bottom: 35px;
}
a.dld-pdf {
	background: url('/static/css/images/pdf.png') no-repeat;
	padding-left: 35px;
	padding-bottom: 35px;
}


a.dld-xls{
	background: url('/static/css/images/xls.png') no-repeat;
	padding-left: 35px;
	padding-bottom: 35px;
}
a.dld-jpg, a.dld-png, a.dld-gif{
	background: url('/static/css/images/image.png') no-repeat;
	padding-left: 35px;
	padding-bottom: 35px;
}

div.job-container h3, div.supporting-documents-container h3, div.reference-container h3{
	line-height: 2.1em !important;
}

div.large-textbox {
	max-height: 200px;
	padding: 5px;
	overflow: auto;
}

textarea.large-textbox{
	width: 520px;
	margin: 5px
}
a.hide {
	display: none;
}

.candidate-detail ul li {
	padding-bottom: 5px;
}

a.del-doc {
	color: #C11350; 
	font-weight: bold;
}

fieldset.position-preference-fs{
    border: 2px solid #C0CEFB;
    float: left;
    margin-left: 0px;
    padding: 10px;
   
}

div.clear {
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.video-list li{
	display: inline;
	padding: 10px;
	margin:0;
	float: left;
	overflow: hidden;
	width: 150px;
	height: 150px;
}

a.save {
	background: url('/static/css/images/save.png') no-repeat;
	padding-left: 35px;
	padding-bottom: 35px;
	padding-top: 7px;
}

a.search {
	background: url('/static/css/images/search.png') no-repeat;
	padding-left: 35px;
	padding-bottom: 35px;
	padding-top: 7px;
}

div.school_profile ideal_school .cell p{
	line-height: 2.5em;
}

.invite-sent {
	color: green; font-weight: bold;
}

.tpp-contact-msg{
	border: 1px solid #E78F08;
    height: 300px;
    overflow: scroll;
    padding: 5px;
    width: 570px;
}