<div class="files-wrapper" ng-mouseenter="mouseenter()" ng-mouseleave="mouseleave()">
  <div class="btn-wrapper">
    <input type="file" multiple="multiple" onchange="angular.element(this).scope().change(this)"> <!-- hack -->
    <span class="btn btn-select-files">Choose files</span>
  </div>
  <div ng-class="field.getClass()" class="list-wrapper">
    <div ng-repeat="file in field.val" class="file">
      <span>{{file.name}}</span>
      <button class="btn btn-delete-file" ng-click="deleteFile(file, $index)">Delete</button>
    </div>
  </div>
</div>