<title>Welcome to Teacherhorizons!</title>
<div>Welcome to Teacherhorizons!</div>
<span>As international school educators...<span>
<img src="http://image.guardian.co.uk/sys-images/Film/Pix/pictures/2007/12/14/ateam460.jpg" title="Image Title" alt="Image alt"></img>
<span>To begin your exciting journey...<span>
<img src="http://www.etoncollege.com/Img/arrow-right-over.png" title="Image Title" alt="Image alt"></img>
<text-input label="Label"></text-input>
<button class="btn btn-primary" ng-click="next()">Next!</button>

<p>Value is: {{select2}} <a ng-click="select2='two'">(choose second)</a></p>
<select ui-select2 ng-model="select2">
	<option value="">Pick a number</option>
	<option value="one">First</option>
	<option value="two">Second</option>
	<option value="three">Third</option>
</select>