<form novalidate ng-controller="s2p4Controller">
  <div class="devHelper2"></div>

  <div>
    <label>Locations considered</label>
    <div select-many-from-few list="locations" selection="user.locationsConsidered.val" checked-class="btn-info"></div>
  </div>
  <div>
    <label>Curricula of interest</label>
    <div select-many-from-few list="curricula" selection="user.curriculaOfInterest.val" checked-class="btn-info"></div>
  </div>
  <div>
    <label>Age levels</label>
    <div select-many-from-few list="ageLevels" selection="user.ageLevels.val" checked-class="btn-info"></div>
  </div>
  <div>
    <label>Joint application</label>
    <div select-many-from-few list="yesNo" selection="user.isJointApplication.val" max-select="1" checked-class="btn-info"></div>
  </div>
  <div ng-hide="!(user.isJointApplication.val[0] == 1)">
    <label>Partner's member number
      <input type="text" ng-model="user.partnersMemberNumber.val" on-focus="focus(user.partnersMemberNumber)" on-blur="blur(user.partnersMemberNumber)">
    </label>
  </div>
  <div>
    <label>Number of dependent children</label>
    <div select-many-from-few list="numberOfDependentChildren" selection="user.numberOfDependentChildren.val" max-select="1" checked-class="btn-info"></div>
  </div>
  <div>
    <label>Year of birth</label>
    <div select-from-many list="birthYears" field="user.birthYear" placeholder="Select your year of birth..."></div>
  </div>
  <div>
    <label>Marital status</label>
    <div select-many-from-few list="maritalStatuses" selection="user.maritalStatus.val" max-select="1" checked-class="btn-info"></div>
  </div>

  <div>
    <button class="btn btn-primary" ng-click="setLocation(2, 5)" ng-disabled="user.getPage(2, 4).getCompletionLevel()==0">Continue</button>
    <button class="btn" ng-click="doLater()">Do Later</button>
  </div>
</form>

