<form novalidate ng-controller="s3p1Controller">
  <header>
    <h1>Really shine!</h1>
    <h2>Skills and languages</h2>
  </header>
  
  <div class="formField">
    <label>Computer skills *</label>
    <div class="select-many-from-few" list="computerSkills" field="user.computerSkills"></div>
  </div>
  <div class="formField">
    <label>Teaching skills *</label>
    <div class="select-many-from-few" list="teachingSkills" field="user.teachingSkills"></div>
  </div>
  <div class="formField">
    <label>Languages spoken fluently *</label>
    <div class="select-many-from-few" list="languages" field="user.languages"></div>
  </div>
  
  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(3, 2)" ng-disabled="user.getPage(3, 1).getCompletionLevel()==0">Continue</button>
    <button class="btn" ng-click="doLater()">Do Later</button>
  </div>
</form>

