/* css which applies only to the header */
.pageHeader .header-main {
	padding: 10px;
	height: 170px;
	background-color: silver;
}
.pageHeader .header-s1p1 h1 {
  font-family: Calibri, Arial, Helvetica, sans-serif;
	padding: 10px 0 0 10px;
	margin: 0;
  line-height: 24x;
  font-size: 32px;
}
