<form novalidate ng-controller="s1p1Controller" ng-cloak>
  <div class="introduction">
    <!--intro header-->
    <h1>Welcome to Teacherhorizons - your ticket to teaching overseas!</h1>

    <!--intro text + image-->
    <article class="floatLeft">
      <p>
        <img src="img/s1p1/team.jpg" alt="Teacher horizons" />
        Our experienced team of teachers and heads will help you find the right job.
      </p>
      <p>
        First, complete your profile in three simple steps...
      </p>
    </article>
  </div>
 
  <!--visialisation of registration steps-->
  <article class="steps">
    <div class="step step1">
      <div>Essentials</div>
      <span>Lets you search jobs</span>
    </div>
    <div class="step step2">
      <div>Important info</div>
      <span>Lets recruiters find you</span>
    </div>
    <div class="step step3">
      <div>Shine!</div>
      <span>Lets you have the best chance</span>
    </div>
    <div class="clr"></div>
  </article>
  
  <!--standard form elements-->
  <header>
    <h1>Essentials</h1>
    <h2>What are you looking for?</h2>
  </header>
  
  <div class="formField">
    <label>Role(s) *</label>
    <div class="select-from-many select2width400px" multiple list="roles" field="user.roles" placeholder="Select one or more roles..."></div>
  </div>
  <div class="formField">
    <label>Subject(s) *</label>
    <div class="select-from-many select2width400px" multiple list="subjects" field="user.subjects" max-select="3" placeholder="Select one or more subjects..."></div>
  </div>
  <div class="formField">
    <label ng-mouseenter="mouseenter(user.subscribe)" ng-mouseleave="mouseleave(user.subscribe)">
      <input type="checkbox" ng-model="user.subscribe.val" ng-class="user.subscribe.getClass()">
      Email me suitable jobs <span class="wip">tip?</span>
    </label>
  </div>
  
  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(1, 2)" ng-disabled="user.getPage(1, 1).getCompletionLevel()==0" ng-mouseenter="mouseenter(btnContinue)" ng-mouseleave="mouseleave(btnContinue)">Continue</button>
    <button class="btn" ng-click="doLater()" ng-mouseenter="mouseenter(btnDoLater)" ng-mouseleave="mouseleave(btnDoLater)">Do Later</button>
  </div>

  <br/><span class="wip">I'm not sure I like the hover colour on the continue button</span>
  <br/><br/><span class="wip">'Continue' and 'Do Later' tips implemented on this page. What do we think? What should the text be?</span>
</form>

