<form novalidate ng-controller="s3p2Controller">
  <header>
    <h1>Really shine!</h1>
    <h2>Supporting docs and videos</h2>
  </header>

  <div class="formField">
    <label>Teaching certificate(s)</label>
    <div class="select-files" field="user.teachingCertificates"></div>
  </div>
  <div class="formField">
    <label>Degree certificate(s)</label>
    <div class="select-files" field="user.degreeCertificates"></div>
  </div>
  <div class="formField">
    <label>Police clearance(s)</label>
    <div class="select-files" field="user.policeClearanceCertificate"></div>
  </div>
  <div class="formField">
    <label>Performance review(s) or recommendation(s)</label>
    <div class="select-files" field="user.performanceReviewOrRecommendation"></div>
  </div>
  <div class="formField">
    <label>Teaching philosophy statement(s)</label>
    <div class="select-files" field="user.teachingPhilosophyStatement"></div>
  </div>
  <div class="formField wip">
    <label>Video link</label>
    <input type="text" ng-model="user.videos.val" on-focus="focus(user.videos)" on-blur="blur(user.videos)" ></input>
  </div>
  
  <!--final section text: appears when section completion level > 0-->
  <div class="formText" ng-show="user.getPage(3, 2).getCompletionLevel()>0">
    <p>That's it! To come top of school's searches, make sure your profile is 100% complete.</p>
    <div>
      <button class="btn btn-primary" ng-click="share()" ng-disabled="user.getPage(3, 2).getCompletionLevel()==0">Share</button>
      <button class="btn btn-primary" ng-click="navigateTo(0, 1)" ng-disabled="user.getPage(3, 2).getCompletionLevel()==0">View my profile</button>
    </div>
    <p>We want to keep this site free for teachers! In return we ask a cheeky favour - please share Teacherhorizons with your friends and we'll add 5% to your profile. Thanks!</p>
  </div>

</form>

