<form novalidate ng-controller="s2p4Controller">
  <header>
    <h1>Important information</h1>
    <h2>My job search</h2>
  </header>
  
  <div class="formField">
    <label>Locations considered *</label>
    <div class="select-many-from-few" list="locations" field="user.locationsConsidered"></div>
  </div>
  <div class="formField">
    <label>Curricula of interest *</label>
    <div class="select-many-from-few" list="curricula" field="user.curriculaOfInterest"></div>
  </div>
  <div class="formField">
    <label>Age levels *</label>
    <div class="select-many-from-few" list="ageLevels" field="user.ageLevels"></div>
  </div>
  <div class="formField">
    <label>Joint application *</label>
    <div class="select-many-from-few" list="yesNo" field="user.isJointApplication" max-select="1"></div>
  </div>
  <div class="formField wip" ng-hide="!(user.isJointApplication.val[0] == 1)">
    <label>Partner's member number *</label>
    <input type="text" ng-model="user.partnersMemberNumber.val" on-focus="focus(user.partnersMemberNumber)" on-blur="blur(user.partnersMemberNumber)">
    <span ng-class="user.partnersMemberNumber.getClass()"></span>
  </div>
  <div class="formField">
    <label>Number of dependent children *</label>
    <div class="select-many-from-few" list="numberOfDependentChildren" field="user.numberOfDependentChildren" max-select="1"></div>
  </div>
  <div class="formField">
    <label>Year of birth *</label>
    <div class="select-from-many" list="birthYears" field="user.birthYear" placeholder="Select your year of birth..."></div>
  </div>
  <div class="formField">
    <label>Marital status * <span class="wip">tip?</span></label>
    <div class="select-many-from-few" list="maritalStatuses" field="user.maritalStatus" max-select="1"></div>
  </div>

  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(2, 5)" ng-disabled="user.getPage(2, 4).getCompletionLevel()==0">Continue</button>
    <button class="btn" ng-click="doLater()">Do Later</button>
  </div>
</form>

