<form novalidate ng-controller="s1p1Controller" ng-cloak>
  <div class="introduction">
    <!--intro text + image-->
    <div class="floatLeft">
      <p>
        <img src="img/s1p1/team.jpg" alt="Teacher horizons" />
        Our experienced team of teachers and heads will help you find the right job.
      </p>
      <p>
        First, complete your profile in three simple steps...
      </p>
    </div>
  </div>
 
  <!--visialisation of registration steps-->
  <div class="steps">
    <div class="step step1">
      <div>Essentials</div>
      <span>Lets you search jobs</span>
    </div>
    <div class="step step2">
      <div>Important info</div>
      <span>Lets recruiters find you</span>
    </div>
    <div class="step step3">
      <div>Shine!</div>
      <span>Lets you have the best chance</span>
    </div>
    <div class="clr"></div>
  </div>
  
  <!--standard form elements-->
  <div>
    <h1>Essentials</h1>
    <h2>What are you looking for?</h2>
  </div>
  <div class="formField">
    <label>Role(s) *</label>
    <div class="select-from-many select2width400px" multiple list="roles" field="user.roles" max-select="3" placeholder="Select one or more roles..."></div>
  </div>
  <div class="formField">
    <label>Subject(s) *</label>
    <div class="select-from-many select2width400px" multiple list="subjects" field="user.subjects" max-select="3" placeholder="Select one or more subjects..."></div>
  </div>
  <div class="formField">
    <label ng-mouseenter="mouseenter(user.subscribe)" ng-mouseleave="mouseleave(user.subscribe)">
      <input type="checkbox" ng-model="user.subscribe.val" ng-class="user.subscribe.getClass()">
      Email me suitable jobs
    </label>
  </div>
  <div class="formButtons">
    <input type="button" class="btn btn-primary" ng-click="setLocation(1, 2)" ng-disabled="user.getPage(1, 1).getCompletionLevel()==0" tip="Great start, on to the next section!" value="Continue"></input>
    <div class="do-later"/>
  </div>
  
  <div ng-show="user.wip.notes.show">
    <br/><span class="wip">Tip for the page and the continue button seem to have different uses of the word 'section'?</span>
    <br/><br/><span class="wip">What if have 3 subjects, not including 'Senior Manager', and then select 'Head of School', say?</span>
    <br/><br/><span class="wip">Can you delete 'Senior Manager' if 'Head of School', say, is selected?</span>
    <br/><br/><span class="wip">Can you add 'Senior Manager' if none of the linked roles are selected?</span>
    <br/><br/><span class="wip">The list of linked roles in the spreadsheet doesn't match the actual options.</span>
  </div>
</form>
