<form novalidate ng-controller="s2p5Controller">
  <header>
    <h1>Important information</h1>
    <h2>My preferences</h2>
  </header>
  
  <div class="formField">
    <label>Reduced tuition fees for my children *</label>
    <div class="select-many-from-few" list="preferenceLevels1" field="user.reducedChildFees" max-select="1"></div>
  </div>
  <div class="formField">
    <label>Ability to save money each month *</label>
    <div class="select-many-from-few" list="preferenceLevels2" field="user.saveMoneyAbility" max-select="1"></div>
  </div>
  <div class="formField">
    <label>Accommodation (or support) provided *</label>
    <div class="select-many-from-few" list="preferenceLevels3" field="user.accommodationProvided" max-select="1"></div>
  </div>
  <div class="formField">
    <label>Health insurance provided *</label>
    <div class="select-many-from-few" list="preferenceLevels4" field="user.healthInsuranceProvided" max-select="1"></div>
  </div>
  <div class="formField">
    <label>Professional development support provided *</label>
    <div class="select-many-from-few" list="preferenceLevels5" field="user.ppdProvided" max-select="1"></div>
  </div>

  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(2, 6)" ng-disabled="user.getPage(2, 5).getCompletionLevel()==0">Continue</button>
    <button class="do-later"/>
  </div>
</form>

