<form novalidate ng-controller="s2p6Controller">
  <header>
    <h1>Important information</h1>
    <h2>Professional experience</h2>
  </header>
  
  <div class="formField" ng-mouseenter="mouseenter(user.numberOfYearsTeachingExperience)" ng-mouseleave="mouseleave(user.numberOfYearsTeachingExperience)">
    <label>Number of years of teaching experience: 0-40</label>
    <div select-from-sequence="{ min: 0, max: 40, range: 'min', tip: '' }" ng-model="user.numberOfYearsTeachingExperience.val"></div>
    <span>{{user.numberOfYearsTeachingExperience.val}}</span>
  </div>
  <div class="formField">
    <label>International school experience? *</label>
    <div class="select-many-from-few" list="yesNo" field="user.internationalSchoolExperience" max-select="1" checked-class="btn-info"></div>
  </div>
  <div class="formField">
    <label>Curriculum experience *</label>
    <div class="select-many-from-few" list="curricula" field="user.curriculumExperience" checked-class="btn-info"></div>
  </div>
  <div class="formField">
    <label>{{getEmployerPrefix()}} employer *</label>
    <input type="text" ng-model="user.currentEmployer.val" on-focus="focus(user.currentEmployer)" on-blur="blur(user.currentEmployer)">
    <span ng-class="user.currentEmployer.getClass()"></span>
  </div>
  <div class="formField">
    <label>{{getEmployerPrefix()}} employer's country *</label>
    <div class="select-from-many" list="countries" field="user.currentCountry" format="countriesSelect2FormatFunction" placeholder="Select country..."></div>
  </div>
  <div class="formField">
    <label>{{getEmployerPrefix()}} role *</label>
    <div class="select-from-many select2width400px" list="roles" field="user.currentRoles" placeholder="Select role..."></div>
  </div>
  <div class="formField">
    <label>{{getEmployerPrefix()}} subject(s) *</label>
    <div class="select-from-many select2width400px" multiple list="subjects" field="user.currentSubjects" max-select="3" placeholder="Select one or more subjects..."></div>
  </div>
  <div class="formField" ng-class="user.wip.highlight&&'wip'">
    <label>Start date with {{getEmployerPrefix() | lowercase}} employer *</label>
    <input ui-date="{ dateFormat: 'D d M yy' }" ng-model="user.currentStartDate.val" />
  </div>
  <div class="formField" ng-class="user.wip.highlight&&'wip'" ng-show="!user.hasCurrentJob.val">
    <label>End date with {{getEmployerPrefix() | lowercase}} employer *</label>
    <input ui-date="{ dateFormat: 'D d M yy' }" ng-model="user.currentEndDate.val" />
  </div>

  <!--final section text: appears when section completion level > 0-->
  <div class="formText" ng-show="user.getPage(2, 6).getCompletionLevel()>0">
    <p>Brilliant - hundreds of schools can now search and see your profile!</p>
    <p>To make your profile really stand out, complete the 'Really shine!' section.</p>
  </div>
  
  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(3, 1)" ng-disabled="user.getPage(2, 6).getCompletionLevel()==0">Continue</button>
    <button class="do-later"/>
  </div>
</form>

