<form novalidate ng-controller="s1p4Controller">
  <header>
    <h1>Essentials</h1>
    <h2>CV / r&eacute;sum&eacute; & photo</h2>
  </header>
  
  <div class="formField">
    <label>CV / r&eacute;sum&eacute; *</label>
    <div class="select-files" field="user.cv"></div>
  </div>
  <div class="formField">
    <label>Photo</label>
    <div class="select-files" field="user.photo"></div>
  </div>
  <!--final section text: appears when section completion level > 0-->
  <div class="formText ease-in-out-1000" ng-class="{ notVisible: !showMessage() }" ng-style="{ height: showMessage()&&'80px' }">
    <p>Great work! You can now search jobs.</p>
    <p>Once you've completed the next section, hundreds of schools will be able to see your profile!</p>
  </div>

  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(2, 1)">Continue</button>
    <button class="do-later"/>
  </div>
</form>

