<form novalidate ng-controller="s1p4Controller">
  <header>
    <h1>Essentials</h1>
    <h2>CV / r&eacute;sum&eacute; & photo</h2>
  </header>
  
  <div class="formField">
    <label>CV / r&eacute;sum&eacute; *</label>
    <div class="select-files" field="user.cv"></div>
  </div>
  <div class="formField">
    <label>Photo</label>
    <div class="select-files" field="user.photo"></div>
  </div>
  <!--final section text: appears when section completion level > 0-->
  <div class="formText" ng-show="user.getPage(1, 4).getCompletionLevel()>0">
    <p>Great work! You can now search jobs.</p>
    <p>Once you've completed the next section, hundreds of schools will be able to see your profile!</p>
    <span class="wip" ng-show="user.wip.notes.show">probably want this to fade in</span>
  </div>

  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(2, 1)">Continue</button>
    <button class="btn" ng-click="doLater()">Do Later</button>
  </div>
</form>

