<form novalidate ng-controller="s2p1-3Controller">
  <header>
    <h1>Important information</h1>
    <h2>Referee 1</h2>
  </header>
  
  <span class="wip">How layout menu for referee pages?</span>
  
  <div class="formField">
    <label>Reference type *</label>
    <div select-from-many list="referenceTypes" field="user.referees[0].type" placeholder="Select a reference type..."></div>
  </div>
  <div class="formField">
    <label>Referee name *</label>
    <input type="text" ng-model="user.referees[0].name.val" on-focus="focus(user.referees[0].name)" on-blur="blur(user.referees[0].name)">
    <span ng-class="user.referees[0].name.getClass()"></span>
  </div>
  <div class="formField">
    <label>Referee email *</label>
    <input type="text" ng-model="user.referees[0].email.val" on-focus="focus(user.referees[0].email)" on-blur="blur(user.referees[0].email)" restrict-input="{type: 'validEmailCharsOnly'}">
    <span ng-class="user.referees[0].email.getClass()"></span>
  </div>
  <div class="formField">
    <label>Referee's institution *</label>
    <input type="text" ng-model="user.referees[0].institution.val" on-focus="focus(user.referees[0].institution)" on-blur="blur(user.referees[0].institution)">
    <span ng-class="user.referees[0].institution.getClass()"></span>
  </div>
  <div class="formField">
    <label>Referee position *</label>
    <div select-from-many list="refereePositions" field="user.referees[0].position" placeholder="Select a position..."></div>
  </div>
  <div class="formField">
    <label>Referee telephone code *</label>
    <div select-from-many list="countries" field="user.referees[0].countryCode" format="countriesSelect2FormatFunction" placeholder="Select a country code..."></div>
  </div>
  <div class="formField">
    <label>Referee's phone number *</label>
    <input type="text" ng-model="user.referees[0].phoneNumber.val" on-focus="focus(user.referees[0].phoneNumber)" on-blur="blur(user.referees[0].phoneNumber)" restrict-input="{type: 'validPhoneCharsOnly'}">
    <span ng-class="user.referees[0].phoneNumber.getClass()"></span>
  </div>
  <span class="wip">Sometimes "Referee", sometimes "Referee's"?</span>

  <div class="formButtons">
    <button class="btn btn-primary" ng-click="setLocation(2, 2)" ng-disabled="user.getPage(2, 1).getCompletionLevel()==0">Continue</button>
    <button class="btn" ng-click="doLater()">Do Later</button>
    <button class="btn btn-primary" ng-click="setLocation(2, 2)" ng-disabled="user.getPage(2, 1).getCompletionLevel()==0">Add another referee</button>
  </div>
  <br/><span class="wip">What should 'Add another referee' button do?</span>
</form>

